html(style="position: relative; top: 370px;")
    head
        meta(charset="utf-8")
        title about:blank
        link(href="https://fonts.googleapis.com/css?family=Arvo", rel="stylesheet")
        style.
            * {font-family: 'Arvo'; overflow:hidden;}
            h1 {text-align: center;}
            p {text-align: center;}
            h2 {text-align: center;}
    body
        #BlessYou
            h1#BOX #{weatherinfo}, #{businfo}, #{dustinfo}
            p#celcius #{celcius}